# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = '$username$hostname $directory$git_branch $character'

[character]
success_symbol = '[\$](bold yellow)'
error_symbol = '[\$](bold yellow)'

[directory]
format = '[$path]($style)'
style = 'bold green'
truncation_length = 8
truncation_symbol = '…/'
read_only = " 󰌾"

[hostname]
ssh_only = false
format = '[$ssh_symbol$hostname](bold blue)'
trim_at = '.companyname.com'
disabled = false
ssh_symbol = " "


[username]
style_user = 'bold bright-red'
style_root = 'bold bright-blue'
format = '[$user]($style)[@](bold bright-yellow)'
disabled = false
show_always = false

[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[conda]
symbol = " "
disabled = true

[dart]
symbol = " "


[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fossil_branch]
symbol = " "

[git_branch]
symbol = ""
format = '[:](bold white)[$symbol$branch(:$remote_branch)]($style)'
style = 'bold red'

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = "󰍲 "

[os]
format = "[$symbol]($style)"
style  = "bold bright-white"
disabled = false

[package]
symbol = "󰏗 "

[pijul_channel]
symbol = " "

[python]
symbol = " "
disabled = true

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "
