[user]
	email = genton.antoine@gmail.com
	name = Antoine
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMfXnGU/d2JSotk/LS+LmDUopYHePf+XvTyQLD4fE2os
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
   ci = commit
   co = checkout
   st = status
   br = branch
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/mnt/c/Users/Antoine/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe"
[commit]
	gpgsign = true
[core]
	sshCommand = ssh.exe
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
